<!doctype html>
<html>
<head>
  	<title>海外团队 | 八点零一</title>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="cache-control" content="no-store" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="author" content="Min" >
  <link rel="canonical" href="" />
  <link rel="shortcut icon" href="./icon/801logo.png">
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../css/components/jcarousel.responsive.css">
  <script src="./javascripts/optimizely2429030379.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  
  
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
</head>

<body>
    <nav class="navbar navbar-default navbar-page navbar-fixed-top" id="header" role="navigation">
      <div class="container">
    
        <div class="navbar-header">
         <div class='logo-container'>
      		<img class="logo" width="60" height="60" src="./icon/801logo.png">
    	 </div> 
    
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    
          <!-- language modal toggle? -->
    
        </div>
    
           <div class="collapse navbar-collapse" id="navbar-collapse">
    
	        <ul class="nav navbar-nav navbar-right">
	          <li class="shown-logged-in navbar-welcome-back" id="navbar-welcome-back">
	          </li>
	          <li>
	            <a href="/homepage" class="mainpage">
	              主页
	            </a>
	          </li>  
	   
          <!--
          <li>
            <a href="./vision" class="learnmore">
              教育理念
            </a>
          </li>
          -->
          <li>
            <a href="/procedure" class="learnmore">
              上课流程
            </a>
          </li>
          <li>
            <a href="/curriculum" class="learnmore">
              课程设计
            </a>
          </li> 
		 <!--<li>
            <a href="/teachers" class="learnmore">
              海外团队
            </a>
          </li>-->
          <li>
            <a href="/stories" id="teacherResources" >
              学员故事
            </a>
          </li>          
          <li>
            <a href="/resources" class="share">
              用户资源
            </a>
          </li>          
          <li>
            <a href="/learnmore" class="learnmore">
              关于我们
            </a>
          </li>
	  
	  		<% if(logged){ %>
		          <li>
		            <a href="/auth" id="backtoapp" >
		              我的帐号
		            </a>
		          </li>  		
		          <li>
		            <a href="/logout" id="adminapplogout" >
		              退出
		            </a>
		          </li>
	  		<% } else { %>
		          <li>
		            <a href="/auth" id="adminapp" >
		              登录
		            </a>
		          </li>
	              <li>
	              <button
	                data-toggle="modal"
	                data-target="#general-signup-modal"
	                class="btn btn-primary btn-sm navbar-btn"	              >
	                注册
	              </button>
	            </li>	          
	  		<% } %> 		
	        </ul>
    
        </div>
    
      </div>
    </nav>
<!--****************************************************************************-->
<main class="learnmore">


	<div class="jumbotron " style="background-image:url('/images/monument2.jpg')">
	  <div class="container">
	    <div class='row'>
	      <div class='col-md-6'>
	      	<br/>
	      	<br/>
	      	<br/>
	      	<br/>
	      	<br/>
			<h1>海外团队</h1>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
	      </div>
	  </div>
	</div>
</div> 
 

  <div class="nav-secondary">
    <div class="container">
      <ul class="nav nav-underlined">
        <li><a href="/teachers">美国外教</a></li>
        <li class="active"><a href="/aceStudent">海外学霸</a></li>
      </ul>
    </div>
    <hr />
  </div>

  <div class="page-section" style="background-color: #ffffff">
    <div class="container">

      <div class="row">

       <p class="banner lead text-center">
        <img src="../images/Onlinewriting.png" />

      </p>


      </div>
    </div>
  </div>
  
  
<div class = "container stories">
  <br/>
  <div class="row">
    <div class="col-md-12">

      <p class="text-center">
       <b> 801平台聘请了从美国各大名校毕业的“学霸”研究生组成了一个精英团队。这些“学霸”们不仅有丰富的考试经验，还有切身的留学经验。<br/>
       他们不仅是学生的“良师”，能有效地帮助学生在英语上取得好成绩，而且是学生的“益友”，能亲切地和学生交流在美国的学习经验，帮助学生顺利适应美国紧张的学习环境。 </b>
      </p>
    </div>
  </div>

<hr/>

        <div class = "row">
            <div class="col-sm-5 post">
              <div class="teacher-img">
                <a href="">
                    <img src="../images/teachers/JiawenWu.png" />
                </a>
              </div> 
              </div>
              <div class="col-md-6">
              <span class="category article">海外学霸</span> 
              <h4><a href="" class="depress-on-click">Jiawen Wu</a></h4> 
          
              <span class="text-muted">华盛顿，美国</span>
              <br/>
              <p>常春藤名校 - 宾夕法尼亚大学 教育学硕士 TESOL</p>
              <p>有丰富的ESL/EFL以及雅思托福教学经验，学生群体涉及成人小孩，擅长与学生沟通以及调动学生上课的积极性，英语专业八级。在美国曾长期担任某非盈利机构的新移民英语老师。<br/>
<br/>

老师留言：当个好老师真的很不容易，但是我热爱这份工作。


            </div>
         </div>
    <hr/>     
    
        <div class = "row">
            <div class="col-sm-5 post">
              <div class="teacher-img">
                <a href="">
                    <img src="../images/teachers/VivianYuan.jpg" />
                </a>
              </div> 
              </div>
              <div class="col-md-6">
              <span class="category article">海外学霸</span> 
              <h4><a href="" class="depress-on-click">Vivian Yuan</a></h4> 
          
              <span class="text-muted">珠海，中国</span>
              <br/>
              <p>英国巴斯大学口笔译硕士</p>
              <p>高校英语教师，曾任教于著名培训机构。毕业于世界顶尖学府——英国巴斯大学同传硕士，日本大阪大学交换生，海外学习生活经历丰富。授课风格自然亲切；对于雅思考试有着独到的见解，创新性地将同传练习方法融入雅思备考中，显著提高备考效率，帮你短期内取得理想分数，轻松和雅思说“分手”。
<br/>
<br/>


            </div>
         </div>
    <hr/>       
    
    
       
            
        <div class = "row">
            <div class="col-sm-5 post">
              <div class="teacher-img">
                <a href="">
                    <img src="../images/teachers/YangYou.png" />
                </a>
              </div> 
              </div>
              <div class="col-md-6">
              <span class="category article">海外学霸</span> 
              <h4><a href="" class="depress-on-click">Yang You</a></h4> 
          
              <span class="text-muted">费城，美国</span>
              <br/>
              <p>常春藤名校 - 宾夕法尼亚大学 教育学硕士 TESOL</p>
              <p>擅长英语辅导，与学生进行良好的沟通。曾长期在美国费城的一个非盈利性机构做老师，帮助新移民提高英语水平。还曾在珠海二小担任辅导老师，帮助很多小朋友提高了学习英语的兴趣。

<br/>
<br/>
老师留言：英语教学是我最大的兴趣。

            </div>
         </div>
    <hr/> 

        <div class = "row">
            <div class="col-sm-5 post">
              <div class="teacher-img">
                <a href="">
                    <img src="../images/teachers/XueXiao.png" />
                </a>
              </div> 
              </div>
              <div class="col-md-6">
              <span class="category article">海外学霸</span> 
              <h4><a href="" class="depress-on-click">Xue Xiao</a></h4> 
          
              <span class="text-muted">费城，美国</span>
              <br/>
              <p>常春藤名校 - 宾夕法尼亚大学 教育学硕士</p>
              <p>擅长英语教学，托福专项辅导。先后在费城多个机构中担任英文教师，在培养学生学习热情的同时提高其语言能力。


<br/>
<br/>
老师留言：留学生活让我扩展了视野。

            </div>
         </div>
    <hr/> 
 


        <div class = "row">
            <div class="col-sm-5 post">
              <div class="teacher-img">
                <a href="">
                    <img src="../images/teachers/ZhenjieDeng.png" />
                </a>
              </div> 
              </div>
              <div class="col-md-6">
              <span class="category article">海外学霸</span> 
              <h4><a href="" class="depress-on-click">Zhenjie Deng</a></h4> 
          
              <span class="text-muted">明尼阿波利斯，美国</span>
              <br/>
              <p>明尼苏达大学双城分校 国际对比比较教育  硕士研究生</p>
              <p>个人专长跨文化交流培训并对感兴趣留学的学生进行个性化教学辅导。曾在在国内的辅导机构领衔小学英语教育，并擅长托福，雅思的准备辅导。



<br/>
<br/>
老师留言：留学的生活让我坚强独立了许多。

            </div>
         </div>
    <hr/> 
    
    
            <div class = "row">
            <div class="col-sm-5 post">
              <div class="teacher-img">
                <a href="">
                    <img src="../images/teachers/StephanieLi.png" />
                </a>
              </div> 
              </div>
              <div class="col-md-6">
              <span class="category article">海外学霸</span> 
              <h4><a href="" class="depress-on-click">Stephanie Li</a></h4> 
          
              <span class="text-muted">纽约，美国</span>
              <br/>
              <p>美国蒙特雷国际研究院  硕士研究生</p>
              <p>擅长语言教学，包括阅读、写作、口语。曾长期为准备留学的学生进行个性化的雅思、托福考试培训。



<br/>
<br/>
老师留言：翻译让我更加灵活地应用语言，而教学能让我更好地和学生沟通。

            </div>
         </div>
    <hr/> 
    
            <div class = "row">
            <div class="col-sm-5 post">
              <div class="teacher-img">
                <a href="">
                    <img src="../images/teachers/NancyKang.png" />
                </a>
              </div> 
              </div>
              <div class="col-md-6">
              <span class="category article">海外学霸</span> 
              <h4><a href="" class="depress-on-click">Nancy Kang</a></h4> 
          
              <span class="text-muted">费城，美国</span>
              <br/>
              <p>常春藤名校 - 宾夕法尼亚大学 教育学硕士 TESOL</p>
              <p>擅长英文听力和阅读，拥有大量各种英文出国考试培训的禁烟。已通过国内英文专业八级考试。在美国数家非盈利机构英语教学中心担任过教师以及助教职位。目前在费城一家非盈利机构教授成人英语。</p>



<br/>
<br/>
老师留言：希望我的学生能融入美国文化。

            </div>
         </div>
    <hr/>     
    
</div> 


</main>

<!-- ************************************************************************************************************************************* -->
 <% include footer.ejs %>
<!-- ************************************************************************************************************************************* -->    

  <div
    class="modal modal-alternative fade"
    id="general-signup-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="general-signup-modal"
    aria-hidden="true"
    data-backdrop="static"
  >
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <button
          type="button"
          class="close close-without-border"
          data-dismiss="modal"
          >
            &times;
          </button>
          <img class="logo-sm" src="./icon/801logo.png" />
        </div>
  
          <div class="modal-body">
  
            <h3 class="modal-title">
              请选择用户类型
            </h3>
  
            <div class="row">
	              
                <div class="col-xs-4 left-user-type">
                  <a href="/registerteacher" 
                    class="block depress-on-click btn btn-signup btn-teacher-signup"
                  >
                      <img src="../images/greenbird.png" style="width:50px; height:50px;" class="icon" />
                      老师
                  </a>
                </div>
		  
              <div class="col-xs-4" right-user-type>
                <a class="block depress-on-click btn btn-signup btn-student-signup"
                 	data-toggle="modal"
			        data-target="#user-signup-modal"		
			        >
			        <img src="../images/monkey.png" style="width:50px; height:50px;" class="icon" />
                    学生
                </a>                
              </div>
              
              </div>
    
             <div class="row">
              <div class="col-xs-12">
                <br/>
                <a
                  href="/auth"
                  class="text-muted depress-on-click"
                  data-track="click:signup-teacher-login-button"
                  >
                  已经注册了?点击这里。
                </a>
              </div>
            </div>
                         
	            </div>
	  

  
          </div>
  
        </div>
  		
      </div> <!-- .modal-content -->
    </div> <!-- .modal-dialog -->
    

<!-- ************************************************************************************************************************************* -->    
   <div
    class="modal modal-alternative fade"
    id="user-signup-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="user-signup-modal"
    aria-hidden="true"
    data-backdrop="static"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <button
            type="button"
            class="close close-without-border"
            data-dismiss="modal"
          >
            &times;
          </button>
          <img class="logo-sm" src="./icon/801logo.png" />
          <br />
        </div>
             
        <!-- teacher registration form -->
       
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  ng-app="signupValidationApp" ng-controller="mainController">

                   <div class="callout callout-danger server_msg" ng-if="serverRes" style="position: absolute; z-index: 10">
                        <h4>Errors</h4>
                        <p>{{ serverMsg }}</p>
                    </div>

                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="box box-primary">
                            <!-- form start -->
                            <form role="form" novalidate name="signupForm">                            
                                <div class="box-body">
									<h3 class="modal-title">
				                  			注册 - 基本信息
				                	</h3>                                
                                    <div class="form-group">
                                        <select class="form-control" ng-model="user.type" name="usertype" ng-init="user.type='student'">
                                            <option value="student">Student</option>
                                        </select>                              	                                     	                                        
	                                </div> 
                                    <div class="form-group">
                                        <input type="email" class="form-control" ng-model="user.email" name="email" required placeholder=<%= __('Email address') %>>
                                        <span style="color:red" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
                                              <span ng-show="signupForm.email.$error.required">Email is required.</span>
                                              <span ng-show="signupForm.email.$error.email">Invalid email format.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" ng-model="user.password" name="password" required placeholder=<%= __('Password') %>>

                                        <span style="color:red" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">
                                              <span ng-show="signupForm.password.$error.required">Password is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                         <input type="text" class="form-control" ng-model="user.firstname" name="firstname" required placeholder=<%= __('First Name') %>>
                                        <span style="color:red" ng-show="signupForm.firstname.$dirty && signupForm.firstname.$invalid">
                                              <span ng-show="signupForm.firstname.$error.required">First Name is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                         <input type="text" class="form-control" ng-model="user.lastname" name="lastname" required placeholder=<%= __('Last Name')%>>
                                        <span style="color:red" ng-show="signupForm.lastname.$dirty && signupForm.lastname.$invalid">
                                              <span ng-show="signupForm.lastname.$error.required">Last Name is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
											<br />
                                    </div>                                    
                                </div><!-- /.box-body -->
                        </div>
                    </div>
                    
                    <div style="margon: 0 auto;" class="col-lg-12">
                        <button class="btn btn-primary btn-lg js-signup-button col-xs-12" ng-disabled="signupForm.$invalid" ng-click="submitForm(signupForm.$valid)">Submit</button>    
                    </div>                   
                    </form>
                </div>
          </div>
                </div> <!-- /.modal-row -->
        </div> <!-- /.modal-body -->
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->
<!-- ************************************************************************************************************************************* -->    


 <!-- ************************************************************************************************************************************* --> 
  <div
      class="modal fade modal-alternative"
      id="language-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="language-modal"
      aria-hidden="true"
      data-backdrop="static"
    >
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close close-without-border"
            data-dismiss="modal"
            >
            &times;
          </button>
          <img class="logo-sm" src="./icon/801logo.png" />
        </div>
 
        <div class="modal-body clearfix">
          <h3 class = "modal-title">选择语言 </br> Select a language…</h3>
          <ul class="list-group row">
              <li class="language-item col-xs-6 col-md-3">
                <a class="text-muted depress-on-click" href="/homepage_en">
                  English 
                </a>
              </li>

              <li class="language-item selected col-xs-6 col-md-3">
                <a class="text-muted depress-on-click" href="/homepage">
                  中文
                </a>
              </li>

          </ul>
        </div>
      </div>
    </div>
    </div>      
<!-- ************************************************************************************************************************************* -->    

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular/angular-resource.min.js"></script>
    <script src="/angular/angular-animate.min.js"></script>
    <script src="/angular_app/signup/app.js"></script>
    
    <script>
      $(function() {
        FastClick.attach(document.body);
      });
    </script>
    
</body>
</html>