<!doctype html>
<html>
<head>
  	<title>常见问题 | 八点零一</title>

  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="cache-control" content="no-store" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="author" content="Min" >
  <meta name="description" content="">
  <link rel="canonical" href="" />
  <link rel="shortcut icon" href="/icon/801logo.png">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/components/jcarousel.responsive.css">
  <script src="/javascripts/optimizely2429030379.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
 
  
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
</head>
<body>

<div class = "main default-page">

    <nav class="navbar navbar-default navbar-page navbar-fixed-top" id="header" role="navigation">
      <div class="container">
    
        <div class="navbar-header">
    
          <a href="../" class="navbar-brand">
            <div class="navbar-brand-name">
            </div>
          </a>
    
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    
          <!-- language modal toggle? -->
    
        </div>
    
               <div class="collapse navbar-collapse" id="navbar-collapse">
    
        <ul class="nav navbar-nav navbar-right">
          <li class="shown-logged-in navbar-welcome-back" id="navbar-welcome-back">
          </li>
          <li>
            <a href="/homepage" class="mainpage">
              主页
            </a>
          </li>  
  
          <li>
            <a href="/learnmore" class="learnmore">
              了解更多
            </a>
          </li>
  
          <li>
            <a href="/resources" class="share">
              用户资源
            </a>
          </li>
          <li>
            <a href="/resources_media" class="share">
              媒体资源
            </a>
          </li> 
	          <li>
	            <a href="/stories" class="learnmore">
	              我们的故事
	            </a>
	          </li>
  
  		<% if(logged){ %>
	          <li>
	            <a href="/auth" id="backtoapp" >
	              我的帐号
	            </a>
	          </li>  		
	          <li>
	            <a href="/logout" id="adminapplogout" >
	              退出
	            </a>
	          </li>
  		<% } else { %>
	          <li>
	            <a href="/auth" id="adminapp" >
	              登录
	            </a>
	          </li>
              <li>
              <button
                data-toggle="modal"
                data-target="#general-signup-modal"
                class="btn btn-primary btn-sm navbar-btn"
              >
                注册
              </button>
            </li>	          
  		<% } %> 		
        </ul>
    
        </div>
    
      </div>
    </div>

    
<div class="legal">

  <div class='jumbotron text-center'>
    <div class="container">
      <h1>常见问题</h1>
    </div>
  </div>


  <div class="page-section">
    <div class="container">


      <div class="row">

       <!-- <div class="col-md-10"> -->
          <hr />
          <h3>问题索引</h3>
          <br/>
          <ul style="list-style-type: none;margin: 0;padding: 0;">
            <li><a class="depress-on-click" href="#systemRequirement">801在线平台对电脑和带宽的要求是什么？</a></li>
            <li><a class="depress-on-click" href="#teachingModel">801在线平台的授课形式是什么？</a></li>
            <li><a class="depress-on-click" href="#learnFromHome">在家也可以上801在线平台的外教课吗？</a></li>
            <li><a class="depress-on-click" href="#teacherQualification">801 外教团队的质量有保证吗？</a></li>
            <li><a class="depress-on-click" href="#stableTeacher">学生的外教是固定的吗？</a></li>
            <li><a class="depress-on-click" href="#duration">801在线平台的同步课程需要多长时间来完成？</a></li>
            <li><a class="depress-on-click" href="#learningProcess">学生如何通过801在线平台注册课程和上课？</a></li>
            <li><a class="depress-on-click" href="#parentRole">学生家长在801同步课堂中担任什么角色并如何发挥作用？</a></li>
            
            
            <li><a class="depress-on-click" href="#targetUser">801在线平台的服务对象是谁？</a></li>
            
            


             <li><a class="depress-on-click" href="#otherServices">801在线平台除外教英语外还提供其他服务吗？</a></li>


        <!-- </div> -->

      </div>

    </div>
  </div>

  <div class="page-section legal-content">
    <div class="container">

      <hr />

      <div class="row">

        <div class="col-md-12">
          <a class="anchor" id="systemRequirement"></a><h3>801在线平台对电脑和带宽的要求是什么？</h3>
                 <p>
                    操作系统：微软Windows XP/Vista/7/8; 苹果 OSx。 <br/>

                    浏览器：最新版 Google Chrome 浏览器； 最新版Firefox 火狐浏览器；最新安卓版 Google Chrome；最新安卓版 Firefox 火狐浏览器 <br/>

                    最低带宽要求: 350kb 下载/上传；建议带宽要求: 3mb 下载/上传。 <br/>

                    培训学校应设置专门用于授课的宽带网络。老师与学生应配备头戴式双耳耳机，课堂环境下应配备高清音箱与取声麦克风 <br/>

          </p>
        </div>

 <!--       <div class="explanation col-md-5 col-md-offset-1">
         <div>
          <img src="https://s3.amazonaws.com/static.classdojo.com/img/page_terms/hero-terms.png" class="header-img img-responsive" />
        </div>
        </div> -->

      </div>

      <hr />
      
     <div class="row">

        <div class="col-md-12">
          <a class="anchor" id="teachingModel"></a><h3>801在线平台的授课形式是什么？</h3>
             <p>
              目前我们的主要授课方式是1个外教对1个学生或者1个外教对多个学生通过互联网的虚拟课堂来完成。学生可以在加盟培训机构或者在家里上课。课程的形式可以是外教在线1对1，也可以是1对2，1对3，1对4或1对5的小班。
              加盟培训机构可以根据学生参加不同级别课程的人数和学生的英语水平组织不同的小班。培训机构还可以为课堂配备辅导老师配合外教一起上课。辅导老师可实时帮助回答课堂上出现的问题，并对学生进行课后作业与预习的跟进辅导。
              实践表明，针对K-12学生，利用“外教+中国辅导老师”的模式对英语的提高帮助很大。 


            </p>
        </div>

     </div>

    <hr />        
      
      <div class="row">

        <div class="col-md-12">
          <a class="anchor" id="learnFromHome"></a><h3>在家也可以上801在线平台的外教课吗？</h3>
             <p>
            可以。学生可以通过801在线教育平台在家里直接和美国老师上课。我们建议学生先到加盟培训机构上2-3个课时，以便学生和家长了解801平台并熟悉自己的外教老师。<br/>
            对于年龄比较小的小学学生，在外教授课时，建议家长要一起参与上课，以便配合外教和督促学生学习。


            </p>
        </div>

     </div>

    <hr />     
    
      <div class="row">

        <div class="col-md-12">
          <a class="anchor" id="teacherQualification"></a><h3>801 外教团队的质量有保证吗？</h3>

             <p>
            非常有保证。801的外教团队都是母语为标准美语的美国老师，拥有本科以上学历，毕业于哥伦比亚大学、加州大学等著名学府，并持有在美国的公立和私立中小学给美国学生上课的相关国际教学证书。<br/>
            801 的外教团队还包括在美国获得ESL program 硕士学位的老师，美国的ESL （English as Second Language）学位是专门培养以母语不是英语为培训对象的老师和教育从业人员。
            这些老师经过系统和专业的训练，他们的专业就是教外国人学英语。


            </p>
        </div>

     </div>

    <hr />  
    
      <div class="row">

        <div class="col-md-12">
          <a class="anchor" id="stableTeacher"></a><h3>学生的外教是固定的吗？</h3>

             <p>
            801在线平台提供美国1至8级同步课程，每级又分为三个阶段，每个阶段32课时。如果每周2个课时，4个月（或16周）可完成一个阶段，也就是一年可以完成一个级别。

如果学生可以坚持我们的同步课程学习，完成1-2级的学习后，可以轻松达到国内小学升初中最高水平应试要求。完成3-4级的学习后，可以达到国内初中升高中最高水平应试要求。完成5-6级的学习后，包括听力和口语在内的英语综合能力完全可以保证在国内高考中取得优异的成绩。完成高级7级的学习，学生的 听力和口语能力可以达到TOEFL/SAT的应试要求。完成高级8级的学习，学生的英语综合能力（听说读写）就完全可以适应在国外学习，工作和生活。

            </p>
        </div>

     </div>

    <hr />     
    
           <div class="row">

        <div class="col-md-12">
          <a class="anchor" id="duration"></a><h3>801在线平台的同步课程需要多长时间来完成？</h3>

             <p>
            是的！现代教育最为推崇的个性化教学是由老师对学生的深入了解做为起点的，而学生和家长对平台品牌的认知度和忠诚度也正是从对老师的高度信任感开始。这个信任度的存在，是我们平台展开其他线上线下的服务最为牢固的基础。我们平台的每一个学生都有固定的外教来教学，让外教充分了解学生，学生也可以对外教产生信任感，最终形成良师益友般的稳定关系。

801的外教大多是美国公立和私立中小学学校的专职老师，给学生上课就是他们的职业和他们的全职工作。不像在中国的外教，定期和不定期地待在不同的城市，他们相对而言更加稳定，可以长期给学生上课。



            </p>
        </div>

     </div>

    <hr />    
    
    
    
               <div class="row">

        <div class="col-md-12">
          <a class="anchor" id="learningProcess"></a><h3>学生如何通过801在线平台注册课程和上课？</h3>

             <p>
            注册和上课可按照以下的几个简单步骤来完成：<br/>
第一步：学生注册个人账户 <br/>
学生先到801网站用电子邮箱免费注册账户，设置个人信息，并选择感兴趣的课程。</br>

第二步：安排课程 <br/>
加盟培训机构或者801的辅导老师会根据学生提供的联系方式来联系家长和学生，并根据学生的具体情况和兴趣，帮助学生选择最适合的课程和外教，在网上为学生做好课程安排，
并确认外教老师及上课时间。<br/>

第三步：进入课堂<br/>
在上课前5-10分钟，学生登录801平台的个人账户，在“我的课堂”选项中找到课堂，点击“进入课堂”，就可以和老师视音频同步上课了。





            </p>
        </div>

     </div>

    <hr /> 
    
    
     <div class="row">

        <div class="col-md-12">
          <a class="anchor" id="parentRole"></a><h3>学生家长在801同步课堂中担任什么角色并如何发挥作用？</h3>

             <p>
           首先，我们认为家长和家庭环境在小孩的教育过程中起到举足轻重的作用，家长亲身的参与往往是培养孩子学习兴趣的保证。
           针对与801在线平台的同步课堂，我们首先希望家长要支持和鼓励学生认识到提高英语综合能力重要性，而不仅仅是为了应付考试而学习英语。其次，我们希望在学生学习的过程中，家长要积极地和培训学校的老师配合，必要时要和老师一起督促学生按时完成教学计划和分配给学生的练习。对于年龄比较小的学生，特别是自己在家里上课的学生，家长一定要积极地介入到学生的学习过程中去，督促学生按时上课，按时完成作业。有条件的家长甚至可以直接和外教老师配合，在视频课堂中旁听学生和老师的交流，并在平时的课外活动中安排更多的与英语相关的活动，培养学生对英语的兴趣，促进学生自我学习能力的提高。另外，家长要积极地和培训学校的老师交流，在老师和家长之间建立一个有利于学生学习的信息反馈渠道，便于老师，家长，学生三方的及时沟通，使教学课程和内容始终和学生的实际水平保持一致，最大可能的提升教学和学习的效果。




            </p>
        </div>

     </div>

    <hr />    

      <div class="row">

        <div class="col-md-12">
          <a class="anchor" id="targetUser"></a><h3>801在线平台的服务对象是谁？</h3>
          <p>
                  我们的服务对象是二三四线城市的K-12学生。我们通过与线下教育培训机构和全日制学校合作的方式，为广大学生提供高性价比的外教英语培训。
          </p>
        </div>

      </div>

      <hr />

      <div class="row">

        <div class="col-md-12">
          <a class="anchor" id="otherServices"></a><h3>801在线平台除外教英语外还提供其他服务吗？</h3>
             <p>
              801在线平台利用学生对平台与外教长期稳定的师生关系，把英语学习与出国留学等碎片化需求，连成线与面，提供“一站式”高附加值服务。<br/>
              我们的“一站式”高附加值线上线下结合的教学体系包括：<br/> 
              第一级服务：英语基础教学， 基本英文听说读写训练 <br/>
              第二级服务：美中同步教学，在线上和美国学生同一步调学习，逐步达到美国学生的英语及人文素质水平 <br/>
              第三级服务：游学服务，组织学生利用假期在美国游学，并与自己熟悉的外教进行各种社交与学习活动，解决目前家长对游学市场担心的只“游”不“学”的问题 <br/>
              第四级服务：高附加值的留学考试与留学咨询服务  <br/>
              第五级服务：海外职业规划服务<br/>

            </p>
        </div>

     </div>

    <hr />





    </div>
  </div>

</div>


<!-- ************************************************************************************************************************************* -->
 <div class="footer">
      <div class="container">
    
        <div class="row">
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">关于我们</h4>
              <ul>
                <li><a href="./">主页</a></li>
                <li><a href="./">工作机会</a></li>
                <li><a href="./" target="_blank">博客</a></li>
              </ul>
    
          </div>
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">资源</h4>
              <ul>
                <li><a href="./resources">教育资源</a></li>
                <li><a href="./stories">我们的故事</a></li>
                <li><a href="./">创意</a></li>
              </ul>
    
          </div>
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">客户服务</h4>
              <ul>
                <li><a href="/resource" target="_blank">在线帮助</a></li>
                <li><a href="/faq">常见问题</a></li>
                <li><a href="./">联系我们</a></li>
                <li><a href="./">服务条款</a></li>
                <li><a href="./">个人隐私协议</a></li>
              </ul>
    
          </div>
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">社交媒体</h4>
              <ul>
                <li><a href="http://wechat.com" target="_blank">微信</a></li>
              </ul>
    
          </div>
          <div class="col-md-3 col-md-offset-1 col-xs-12">
    
              <div class="language">
                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#language-modal">
                  <span class="caret"></span>
                  中文
                </button>
              </div>
    
          </div>          

        </div>
    
        <p class="copyright">
          &copy; 八点零一
        </p>
    
      </div>
    </div>
<!-- ************************************************************************************************************************************* -->
    </div>

 <!-- ************************************************************************************************************************************* -->
  <div
    class="modal modal-alternative fade"
    id="general-signup-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="general-signup-modal"
    aria-hidden="true"
    data-backdrop="static"
  >
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <button
          type="button"
          class="close close-without-border"
          data-dismiss="modal"
          >
            &times;
          </button>
          <img class="logo-sm" src="./icon/801logo.png" />
        </div>
  
          <div class="modal-body">
  
            <h3 class="modal-title">
              请选择用户类型
            </h3>
  
            <div class="row">
	              
                <div class="col-xs-4 left-user-type">
                  <a href="/registerteacher" 
                    class="block depress-on-click btn btn-signup btn-teacher-signup"
                  >
                      <img src="../images/greenbird.png"  style="width:50px; height:50px;" class="icon" />
                      老师
                  </a>
                </div>
		  
              <div class="col-xs-4" right-user-type>
                <a class="block depress-on-click btn btn-signup btn-student-signup"
                 	data-toggle="modal"
			        data-target="#user-signup-modal"		
			        >
			        <img src="../images/monkey.png"   style="width:50px; height:50px;" class="icon" />
                    学生
                </a>                
              </div>
              
              </div>
    
             <div class="row">
              <div class="col-xs-12">
                <br/>
                <a
                  href="/auth"
                  class="text-muted depress-on-click"
                  data-track="click:signup-teacher-login-button"
                  >
                  已经注册了?点击这里。
                </a>
              </div>
            </div>
                         
	            </div>
	  

  
          </div>
  
        </div>
  		
      </div> <!-- .modal-content -->
    </div> <!-- .modal-dialog -->
    

<!-- ************************************************************************************************************************************* -->    
   <div
    class="modal modal-alternative fade"
    id="user-signup-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="user-signup-modal"
    aria-hidden="true"
    data-backdrop="static"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <button
            type="button"
            class="close close-without-border"
            data-dismiss="modal"
          >
            &times;
          </button>
          <img class="logo-sm" src="./icon/801logo.png" />
          <br />
        </div>
             
        <!-- teacher registration form -->
       
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  ng-app="signupValidationApp" ng-controller="mainController">

                   <div class="callout callout-danger server_msg" ng-if="serverRes" style="position: absolute; z-index: 10">
                        <h4>Errors</h4>
                        <p>{{ serverMsg }}</p>
                    </div>

                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="box box-primary">
                            <!-- form start -->
                            <form role="form" novalidate name="signupForm">                            
                                <div class="box-body">
									<h3 class="modal-title">
				                  			注册 - 基本信息
				                	</h3>                                
                                    <div class="form-group">
                                        <select class="form-control" ng-model="user.type" name="usertype" ng-init="user.type='student'">
                                            <option value="student">Student</option>
                                        </select>                              	                                     	                                        
	                                </div> 
                                    <div class="form-group">
                                        <input type="email" class="form-control" ng-model="user.email" name="email" required placeholder=<%= __('Email address') %>>
                                        <span style="color:red" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
                                              <span ng-show="signupForm.email.$error.required">Email is required.</span>
                                              <span ng-show="signupForm.email.$error.email">Invalid email format.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" ng-model="user.password" name="password" required placeholder=<%= __('Password') %>>

                                        <span style="color:red" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">
                                              <span ng-show="signupForm.password.$error.required">Password is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                         <input type="text" class="form-control" ng-model="user.firstname" name="firstname" required placeholder=<%= __('First Name') %>>
                                        <span style="color:red" ng-show="signupForm.firstname.$dirty && signupForm.firstname.$invalid">
                                              <span ng-show="signupForm.firstname.$error.required">First Name is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                         <input type="text" class="form-control" ng-model="user.lastname" name="lastname" required placeholder=<%= __('Last Name')%>>
                                        <span style="color:red" ng-show="signupForm.lastname.$dirty && signupForm.lastname.$invalid">
                                              <span ng-show="signupForm.lastname.$error.required">Last Name is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
											<br />
                                    </div>                                    
                                </div><!-- /.box-body -->
                        </div>
                    </div>
                    
                    <div style="margon: 0 auto;" class="col-lg-12">
                        <button class="btn btn-primary btn-lg js-signup-button col-xs-12" ng-disabled="signupForm.$invalid" ng-click="submitForm(signupForm.$valid)">Submit</button>    
                    </div>                   
                    </form>
                </div>
          </div>
                </div> <!-- /.modal-row -->
        </div> <!-- /.modal-body -->
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->
<!-- ************************************************************************************************************************************* -->    


 <!-- ************************************************************************************************************************************* --> 
  <div
      class="modal fade modal-alternative"
      id="language-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="language-modal"
      aria-hidden="true"
      data-backdrop="static"
    >
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close close-without-border"
            data-dismiss="modal"
            >
            &times;
          </button>
          <img class="logo-sm" src="./icon/801logo.png" />
        </div>
 
        <div class="modal-body clearfix">
          <h3 class = "modal-title">选择语言 </br> Select a language…</h3>
          <ul class="list-group row">
              <li class="language-item col-xs-6 col-md-3">
                <a class="text-muted depress-on-click" href="/faq">
                  English 
                </a>
              </li>

              <li class="language-item selected col-xs-6 col-md-3">
                <a class="text-muted depress-on-click" href="/faq">
                  中文
                </a>
              </li>

          </ul>
        </div>
      </div>
    </div>
    </div>      
<!-- ************************************************************************************************************************************* -->    



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
               <script src="/angular/angular.min.js"></script>
    <script src="/angular/angular-resource.min.js"></script>
    <script src="/angular/angular-animate.min.js"></script>
    <script src="/angular_app/signup/app.js"></script>
    
    <script>
      $(function() {
        FastClick.attach(document.body);
      });
    </script>
   
    
  </div>
</body>
</html>