<!-- ************************************************************************************************************************************* -->
<div class="footer">
      <div class="container">
    
        <div class="row">
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">关于我们</h4>
              <ul>
                <li><a href="./">主页</a></li>
                <li><a href="./">工作机会</a></li>
                <li><a href="./blog" target="_blank">博客</a></li>
              </ul>
    
          </div>
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">资源</h4>
              <ul>
                <li><a href="./resources">教育资源</a></li>
                <li><a href="./stories">我们的故事</a></li>
                <li><a href="./">创意</a></li>
              </ul>
    
          </div>
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">客户服务</h4>
              <ul>
                <li><a href="/resource" target="_blank">在线帮助</a></li>
                <li><a href="/faq" >常见问题</a></li>
                <li><a href="./">联系我们</a></li>
                <li><a href="./">服务条款</a></li>
                <li><a href="./">个人隐私协议</a></li>
              </ul>
    
          </div>
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">社交媒体</h4>
              <ul>
                <li><a href="http://wechat.com" target="_blank">微信</a></li>
              </ul>
    
          </div>
          <div class="col-md-3 col-md-offset-1 col-xs-12">
    
              <div class="language">
                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#language-modal">
                  <span class="caret"></span>
                  English
                </button>
              </div>
    
          </div>          

        </div>
    
        <p class="copyright">
          &copy; 八点零一
        </p>
    
      </div>
    </div>
  	<!-- ************************************************************************************************************************************* -->