<!-- ************************************************************************************************************************************* -->
    <div class="footer">
      <div class="container">
    
        <div class="row">
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">About Us</h4>
              <ul>
                <li><a href="/homepage">Home Page</a></li>
                <li><a href="../">Career</a></li>
                <li><a href="../" target="_blank">Blog</a></li>
              </ul>
    
          </div>
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">Resources</h4>
              <ul>
                <li><a href="/resources_en">Platform Information</a></li>
                <li><a href="/stories">Stories</a></li>
                <li><a href="../">Ideas</a></li>
              </ul>
    
          </div>
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">Support</h4>
              <ul>
                <li><a href="/resources_en">Online Support</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="../">Contact Us</a></li>
                <li><a href="../">Service Agreement</a></li>
                <li><a href="../">Privacy Policies</a></li>
              </ul>
    
          </div>
          <div class="col-md-2 col-xs-6">
    
              <h4 class="heading">Community</h4>
              <ul>
                <li><a href="http://wechat.com" target="_blank">Wechat</a></li>
              </ul>
    
          </div>
          <div class="col-md-3 col-md-offset-1 col-xs-12">
    
              <div class="language">
                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#language-modal">
                  <span class="caret"></span>
                  English
                </button>
              </div>
    
          </div>
        </div>
    
        <p class="copyright">
          &copy; 8:01 Education
        </p>
    
      </div>
    </div>
  </div>
  </div>
